<%- contentFor('style') %>
<link href="/style/css/crud.css" rel="stylesheet" type="text/css" />
<link href="/style/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/style/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="/style/css/froala_style.css" rel="stylesheet" type="text/css" />


<%- contentFor('content') %>
<% for(conteudo of conteudo) {%> <% } %>
<div class="row p-background form" >
	<form action="/cadastrar" method="POST" enctype="multipart/form-data">
		<div class="large-3 column ">
			<img class="imagem" "<% if(conteudo.src != " ") {%>  src='<%= conteudo.src %>' <% } %>">
			<input type="file" id="teste" name="upload" multiple="multiple" accept=".jpg, .jpeg, .png">
		</div>
		<div class="large-9 column end">
			<div class="row">
				<div class="large-6 column">
					<legend>Título
						<input type="text" value="<%= conteudo.idconteudo %>" class="not-show" name="idconteudo" readonly>						
						<input type="text" value="<%= conteudo.titulo %>" name="titulo" required>
					</legend>
				</div>
				<div class="large-6 column">				
					<legend>Professor
						<select name="professor" id="">
							<% for(professor of professor) {%>
								<option value="<%= professor.idprofessor %>"  <% if(professor.idprofessor == conteudo.idprofessor) {%> <%= 'selected' %> <% }%>><%= professor.nomeprofessor %></option>																		
							<% } %>
						</select>
					</legend>
				</div>
			</div>
			<legend>Conteúdo
				<textarea name="conteudo" required><%= conteudo.conteudo %></textarea>
			</legend>
			<center>
				<input type="submit" class="form-button" value="Enviar">
			</center>	
		</div>
	</form>
</div>
<div class="row expanded gambiarra" ></div>
<button  class="form-button button" onclick="window.location.href='/listar'" ><p class="p-cadastrar">Voltar</p></button>

<%- contentFor('script') %>
<script type="text/javascript" src="/js/vendor/froala_editor.pkgd.min.js"></script>
<script>
	$(function() {
	  $('textarea').froalaEditor()
	});
</script>
